<!-- Footer -->               
<div class="container">
    <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
    <div class="col-md-4 d-flex align-items-center">
      <a href="https://www.argentina.gob.ar/economia/conocimiento/argentina-programa" class="mb-3 me-2 mb-md-0 text-muted text-decoration-none lh-1">
          <i class="bi bi-terminal-fill"></i>
      </a>
      <span class="mb-3 mb-md-0 text-muted">Marcos Argüello</span>
    </div>
    
    <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
      <li class="ms-3"><a class="text-muted" href="https://www.linkedin.com/in/marcosarguello/"><i class="bi bi-linkedin"></i></a></li>
      <li class="ms-3"><a class="text-muted" href="https://github.com/MarcosArguello"><i class="bi bi-github"></i></a></li>
      <li class="ms-3"><a class="text-muted" href="https://www.instagram.com/arguello_marcos.e/"><i class="bi bi-instagram"></i></a></li>
    </ul>
    </footer>
</div>
