<!-- Banner -->
<div class="container">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
      <div class="col-10 col-sm-8 col-lg-6">
        <img src="images/marcos-arguello.png" class="d-block mx-lg-auto img-fluid" alt="Soy Marcos Argüello" width="700" height="500" loading="lazy">
      </div>
      <div class="col-lg-6">
        <h1 class="display-5 fw-bold lh-1 mb-3"><font style="vertical-align: inherit;">Soy Marcos Argüello.</font></h1>
        <p class="lead fw-normal"><font style="vertical-align: inherit;">
            Un diseñador y programador full stack developer Jr altamente proactivo,
             me encantan los desafíos y explorar soluciones. Puedo trabajar bien solo,
             pero considero que los mejores resultados se logran abordando un problema
             desde la visión de diferentes disciplinas, siempre tratando de innovar sin dejar
             de considerar los objetivos de negocio. </font></p>
      </div>
    </div>
</div>
