<!-- Banner -->
<div class="container">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
      <div class="col-10 col-sm-8 col-lg-6">
        <img [src]="miPorfolio.header.backImage"
              class="d-block mx-lg-auto img-fluid"
              alt="{{ miPorfolio.header.name }}"
              width="700"
              height="500"
              loading="lazy">
      </div>
      <div class="col-lg-6">
        
        <h1 class="display-5 fw-bold lh-1 mb-3">
          <font style="vertical-align: inherit;">
            {{ miPorfolio.header.name }}
          </font></h1>
        
          <p class="lead fw-normal">
            <font style="vertical-align: inherit;">
              {{ miPorfolio.header.description }}    
            </font>
          </p>
      </div>
    </div>
</div>
