<!-- Proyectos -->

<section id="projects">
<div class="container">
    <hr class="featurette-divider">
    <h2>Proyectos</h2>
    <hr class="hr-subdivider">
    
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3 box-containerProject">
    
      <app-projects-item
            class="box-skill"
            *ngFor="let projectItem of projectsList"
            [projectItem]="projectItem">
        </app-projects-item>
    
      </div>

<hr class="hr-subdivider">
    
</div>
</section>