.lista-habilidades {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    list-style: none;
  }

h3 {
    margin-top: 20px;
}

.habilidades-container {
    display: flex;
    align-items: center;
  }