<!-- Educacion -->

<section id="education">
<div class="container">
<hr class="featurette-divider">
  <h2>Educación</h2>
<hr class="hr-subdivider">

<ul>
  <li *ngFor="let educacion of educacionList">

      <div class="row featurette">
          <div class="col-md-10 order-md-2">
              <h3 class="featurette-heading fw-normal lh-1">{{educacion.title}} <br></h3>
                  <span class="text-muted">{{educacion.start}} - {{educacion.end}}</span>
                  <p class="lead fw-normal">{{educacion.company}}</p>
          </div>
          <div class="col-md-2 order-md-1">
              <img [src]="educacion.img" alt="{{educacion.company}}" class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="150" height="150" preserveAspectRatio="xMidYMid slice">
          </div>
      </div>
      <hr class="hr-subdivider">
    
  </li>
</ul>
  
</div>

</section>