<!-- Educacion -->
<div class="container">
<hr class="featurette-divider">

  <h2>Educación</h2>

<hr class="hr-subdivider">

<div class="row featurette">
  <div class="col-md-10 order-md-2">
      <h3 class="featurette-heading fw-normal lh-1">Desarrollador Web Full Stack.<br></h3>
          <span class="text-muted">2022 - 2023.</span>
          <p class="lead fw-normal">Argentina 4.0 - INTI / Ministerio de Economía de la Nación.</p>
  </div>
  <div class="col-md-2 order-md-1">
      <img src="images/marcos-arguello.png" alt="Emprendedor" class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="150" height="150" preserveAspectRatio="xMidYMid slice">
  </div>
</div>

<hr class="hr-subdivider">

<div class="row featurette">
  <div class="col-md-10 order-md-2">
      <h3 class="featurette-heading fw-normal lh-1">Desarrollador Web.<br></h3>
          <span class="text-muted">2022.</span>
          <p class="lead fw-normal">Google Actívate.</p>
  </div>
  <div class="col-md-2 order-md-1">
      <img src="images/marcos-arguello.png" alt="Emprendedor" class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="150" height="150" preserveAspectRatio="xMidYMid slice">
  </div>
</div>

<hr class="hr-subdivider">

<div class="row featurette">
  <div class="col-md-10 order-md-2">
      <h3 class="featurette-heading fw-normal lh-1">Licenciado en Diseño Industrial.<br></h3>
          <span class="text-muted">2019.</span>
          <p class="lead fw-normal">Universidad Nacional del Litoral.</p>
  </div>
  <div class="col-md-2 order-md-1">
      <img src="images/marcos-arguello.png" alt="Emprendedor" class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="150" height="150" preserveAspectRatio="xMidYMid slice">
  </div>
</div>

<hr class="hr-subdivider">

<div class="row featurette">
  <div class="col-md-10 order-md-2">
      <h3 class="featurette-heading fw-normal lh-1">Técnico Constructor Nacional.<br></h3>
          <span class="text-muted">2005.</span>
          <p class="lead fw-normal">Escuela Industrial Superior - Universidad Nacional del Litoral.</p>
  </div>
  <div class="col-md-2 order-md-1">
      <img src="images/marcos-arguello.png" alt="Emprendedor" class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="150" height="150" preserveAspectRatio="xMidYMid slice">
  </div>
</div>

<hr class="hr-subdivider">

</div>

