<!-- Habilidades -->
<div class="container">

<hr class="featurette-divider">

<h2>Habilidades</h2>
<hr class="hr-subdivider">

<div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
  <div class="col">
  <div class="card mb-4 rounded-3 shadow-sm">
      <div class="card-header py-3">
      <h4 class="my-0 fw-normal">Diseño 2D</h4>
      </div>
      <div class="card-body">
      <ul class="list-unstyled ">
          <li>
              <img src="images/habilidades/1-01.png" alt="Adobe Ilustrator" class="img-habil">
              <img src="images/habilidades/1-02.png" alt="Adobe Photoshop" class="img-habil">
              <img src="images/habilidades/1-03.png" alt="Adobe InDesign" class="img-habil">
              <img src="images/habilidades/1-04.png" alt="CorelDraw" class="img-habil">
              <img src="images/habilidades/1-05.png" alt="AutoCad" class="img-habil">
          </li>
      </ul>
      </div>
  </div>
  </div>
  <div class="col">
  <div class="card mb-4 rounded-3 shadow-sm">
      <div class="card-header py-3">
      <h4 class="my-0 fw-normal">Diseño 3D</h4>
      </div>
      <div class="card-body">
      <ul class="list-unstyled">
          <li>
              <img src="images/habilidades/1-06.png" alt="SolidWorks" class="img-habil">
              <img src="images/habilidades/1-07.png" alt="SketchUp" class="img-habil">
              <img src="images/habilidades/1-08.png" alt="Rhinoceros 3D" class="img-habil">
              <img src="images/habilidades/1-09.png" alt="Fusion 360" class="img-habil">
          </li>
      </ul>
      </div>
  </div>
  </div>
  <div class="col">
  <div class="card mb-4 rounded-3 shadow-sm">
      <div class="card-header py-3">
      <h4 class="my-0 fw-normal">Office</h4>
      </div>
      <div class="card-body">
      <ul class="list-unstyled">
          <li>
              <img src="images/habilidades/1-10.png" alt="Excel" class="img-habil">
              <img src="images/habilidades/1-11.png" alt="Word" class="img-habil">
              <img src="images/habilidades/1-12.png" alt="Powerpoint" class="img-habil">
          </li>
      </ul>
      </div>
  </div>
  </div>

  <div class="col">
      <div class="card mb-4 rounded-3 shadow-sm">
          <div class="card-header py-3">
          <h4 class="my-0 fw-normal">Renderizado</h4>
          </div>
          <div class="card-body">
          <ul class="list-unstyled">
              <li>
                  <img src="images/habilidades/1-13.png" alt="KeyShot" class="img-habil">
                  <img src="images/habilidades/1-14.png" alt="Artlantis" class="img-habil">
                  <img src="images/habilidades/1-15.png" alt="Lumion" class="img-habil">
                  <img src="images/habilidades/1-16.png" alt="D5 Render" class="img-habil">
              </li>
          </ul>
          </div>
      </div>
      </div>

      <div class="col">
          <div class="card mb-4 rounded-3 shadow-sm">
              <div class="card-header py-3">
              <h4 class="my-0 fw-normal">Programación</h4>
              </div>
              <div class="card-body">
              <ul class="list-unstyled">
                  <li>
                      <img src="images/habilidades/1-17.png" alt="Visual Studio Code" class="img-habil">
                      <img src="images/habilidades/1-18.png" alt="Arduino" class="img-habil">
                      <img src="images/habilidades/1-18-1.png" alt="Boostrap" class="img-habil">
                      <img src="images/habilidades/1-18-2.png" alt="Angular" class="img-habil">
                  </li>
              </ul>
              </div>
          </div>
          </div>

          <div class="col">
              <div class="card mb-4 rounded-3 shadow-sm">
                  <div class="card-header py-3">
                  <h4 class="my-0 fw-normal">Impresión 3D</h4>
                  </div>
                  <div class="card-body">
                  <ul class="list-unstyled">
                      <li>
                          <img src="images/habilidades/1-19.png" alt="Simplify3D" class="img-habil">
                          <img src="images/habilidades/1-20.png" alt="Ultimaker Cura" class="img-habil">
                      </li>
                  </ul>
                  </div>
              </div>
              </div>
</div>

<div class="col text-center">
  <div class="card mb-4 rounded-3 shadow-sm">
      <div class="card-header py-3">
      <h4 class="my-0 fw-normal">Web</h4>
      </div>
      <div class="card-body">
      <ul class="list-unstyled">
          <li>
              <img src="images/habilidades/1-21.png" alt="Google Chrome" class="img-habil">
              <img src="images/habilidades/1-22.png" alt="Google Drive" class="img-habil">
              <img src="images/habilidades/1-23.png" alt="Gmail" class="img-habil">
              <img src="images/habilidades/1-24.png" alt="Google Sheets" class="img-habil">
              <img src="images/habilidades/1-25.png" alt="Google Docs" class="img-habil">
              <img src="images/habilidades/1-26.png" alt="Chrome Remote Desktop" class="img-habil">
          </li>
      </ul>
      </div>
  </div>
  </div>

  <hr class="hr-subdivider">
</div>

