<!-- Experiencia Laboral -->
<div class="container">
<hr class="featurette-divider">
      <h2>Experiencia Laboral</h2>
<hr class="hr-subdivider">

  <div class="row featurette">
      <div class="col-md-10 order-md-2">
          <h3 class="featurette-heading fw-normal lh-1">Full Stack Developer Jr. <br></h3>
              <span class="text-muted">2022 - Actualidad.   FREELANCE.</span>
              <p class="lead fw-normal">Diseño y programación de WebApp.</p>
      </div>
      <div class="col-md-2 order-md-1">
          <img src="images/marcos-arguello.png" alt="Freelance" class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="150" height="150" preserveAspectRatio="xMidYMid slice">
      </div>
  </div>

  

<hr class="hr-subdivider">

  <div class="row featurette">
      <div class="col-md-10 order-md-2">
          <h3 class="featurette-heading fw-normal lh-1">OFICIO impresiones digitales. <br></h3>
              <span class="text-muted">2018 - Actualidad.   EMPRENDEDOR.</span>
              <p class="lead fw-normal">Gestión de proyectos, diseño grafico, diseño 3D, cómputo, presupuesto,
                  mantenimiento de equipos y tareas relacionadas a la impresión digital.</p>
      </div>
      <div class="col-md-2 order-md-1">
          <img src="images/marcos-arguello.png" alt="Emprendedor" class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="150" height="150" preserveAspectRatio="xMidYMid slice">
      </div>
  </div>

<hr class="hr-subdivider">

  <div class="con-row">    
      <div class="row featurette">
          <div class="col-md-10 order-md-2">
              <h3 class="featurette-heading fw-normal lh-1">Municipalidad de la Ciudad de Santa Fe. <br></h3>
                  <span class="text-muted">2016 - 2018.   DISEÑADOR INDUSTRIAL.</span>
                  <p class="lead fw-normal">Investigación, diseño, computo, presupuesto, desarrollo y ejecución
                      de mobiliario y afines para el departamento de mobiliario urbano. Logística y
                      supervisión de personal y obras.</p>
          </div>
          <div class="col-md-2 order-md-1">
              <img src="images/marcos-arguello.png" alt="Diseñador Industrial" class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="150" height="150" preserveAspectRatio="xMidYMid slice">
          </div>
      </div>
  </div>

<hr class="hr-subdivider">

  <div class="con-row">
      <div class="row featurette">
          <div class="col-md-10 order-md-2">
          <h3 class="featurette-heading fw-normal lh-1">Dibujante técnico / Modelador 3D. <br></h3>
                  <span class="text-muted">2006 - Actualidad.   FREELANCE.</span>
                  <p class="lead fw-normal">Digitalización de planos, elaboración de modelos 3D y simulaciones físicas.</p>
          </div>
          <div class="col-md-2 order-md-1">
              <img src="images/marcos-arguello.png" alt="Freelance" class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="150" height="150" preserveAspectRatio="xMidYMid slice">
          </div>
      </div>    
  </div>

<hr class="hr-subdivider">


